body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.App {
	text-align: center;
}

.App-header {
	background-color: #0984e3;
	min-height: 100vh;
	padding: 40px 30px;
	color: rgb(165, 163, 163);
}
#msg {
	text-align: center;
}
.message {
	color: #74b9ff;
	font-size: 20px;
}
